<section class="about-me" id="about-me">
  <h1>About Me</h1>
  <span>~~~~~~~~ :: ~~~~~~~~</span>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, <span>quis nostrud exercitation ullamco</span> laboris nisi ut aliquip ex ea commodo consequat duis aute irure dolor.</p>
  <div class="list-item">
    <div>
      <i class="sprite light"></i>
      <h4>Title goes here</h4>
      <p>onsectetur adipisicing elit, sedo eiusmod tempor incidiet dolorerserss eerhfre mag.</p>
    </div>
    <div>
      <i class="sprite pencil"></i>
      <h4>Title goes here</h4>
      <p>onsectetur adipisicing elit, sedo eiusmod tempor incidiet dolorerserss eerhfre mag.</p>
    </div>
    <div>
      <i class="sprite gear"></i>
      <h4>Title goes here</h4>
      <p>onsectetur adipisicing elit, sedo eiusmod tempor incidiet dolorerserss eerhfre mag.</p>
    </div>
    <div>
      <i class="sprite screen"></i>
      <h4>Title goes here</h4>
      <p>onsectetur adipisicing elit, sedo eiusmod tempor incidiet dolorerserss eerhfre mag.</p>
    </div>
  </div>
  <!-- /list-item -->
</section>
<!-- /about-me -->
