<section class="my-works clearfix" id="my-works">
  <h1>My Work</h1>
  <span>~~~~~ :: ~~~~~</span>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  <div>
    <div>
      <img src="//i.imgur.com/tRD8jcz.jpg" alt="">
      <div>
        <h6>Title goes here</h6>
        <p>onsectetur adipisicing elit, sedo eiusmod tempor incidiet dolorerserss eerhfre mag.</p>
      </div>
    </div>
    <div>
      <img src="//i.imgur.com/il1knRa.jpg" alt="">
      <div>
        <h6>Title goes here</h6>
        <p>onsectetur adipisicing elit, sedo eiusmod tempor incidiet dolorerserss eerhfre mag.</p>
      </div>
    </div>
    <div>
      <img src="https://i.imgur.com/Fijdp3f.jpg" alt="">
      <div>
        <h6>Title goes here</h6>
        <p>onsectetur adipisicing elit, sedo eiusmod tempor incidiet dolorerserss eerhfre mag.</p>
      </div>
    </div>
    <div>
      <img src="//i.imgur.com/CV1bn36.jpg" alt="">
      <div>
        <h6>Title goes here</h6>
        <p>onsectetur adipisicing elit, sedo eiusmod tempor incidiet dolorerserss eerhfre mag.</p>
      </div>
    </div>
    <div>
      <img src="//i.imgur.com/ilbpZ8O.jpg" alt="">
      <div>
        <h6>Title goes here</h6>
        <p>onsectetur adipisicing elit, sedo eiusmod tempor incidiet dolorerserss eerhfre mag.</p>
      </div>
    </div>
    <div>
      <img src="//i.imgur.com/5HxVTy8.jpg" alt="">
      <div>
        <h6>Title goes here</h6>
        <p>onsectetur adipisicing elit, sedo eiusmod tempor incidiet dolorerserss eerhfre mag.</p>
      </div>
    </div>
    <div>
      <img src="//i.imgur.com/eHuoZvD.jpg" alt="">
      <div>
        <h6>Title goes here</h6>
        <p>onsectetur adipisicing elit, sedo eiusmod tempor incidiet dolorerserss eerhfre mag.</p>
      </div>
    </div>
    <div>
      <img src="//i.imgur.com/xA6uDjh.jpg" alt="">
      <div>
        <h6>Title goes here</h6>
        <p>onsectetur adipisicing elit, sedo eiusmod tempor incidiet dolorerserss eerhfre mag.</p>
      </div>
    </div>
  </div>
</section>
<!-- /my-works -->
