<section class="services" id="services">
  <div>
    <h1>Services</h1>
    <span>~~~~~ :: ~~~~~</span>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do tempor incididunt ut labore et dolore magna aliqua.</p>
    <div class="list-item">
      <div>
        <i class="sprite globe"></i>
        <h4>Title goes here</h4>
        <p>onsectetur adipisicing elit, sedo eiusmod tempor incidiet dolorerserss eerhfre mag.</p>
      </div>
      <div>
        <i class="sprite lens"></i>
        <h4>Title goes here</h4>
        <p>onsectetur adipisicing elit, sedo eiusmod tempor incidiet dolorerserss eerhfre mag.</p>
      </div>
      <div>
        <i class="sprite clock"></i>
        <h4>Title goes here</h4>
        <p>onsectetur adipisicing elit, sedo eiusmod tempor incidiet dolorerserss eerhfre mag.</p>
      </div>
      <div>
        <i class="sprite histogram"></i>
        <h4>Title goes here</h4>
        <p>onsectetur adipisicing elit, sedo eiusmod tempor incidiet dolorerserss eerhfre mag.</p>
      </div>
    </div>
    <!-- /list-item -->
  </div>
</section>
<!-- /services -->
